/* src/components/Navbar.css */
nav {
    background-color: #f4f4f4;
    padding: 10px;
   margin: auto;
   padding: 20px;
   border:double solid black
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content:center;

  }
  
  li {
    margin: 0 15px;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    text-decoration: underline;
  }
  